<!DOCTYPE html>
<html>
<head>
  <!-- <link href="/css/style.css" rel="stylesheet"/>  
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous"> 
  <meta charset=utf-8 />
  <title> Publications </title> -->
 <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html" /> 
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css"> 
   <link rel="stylesheet" href="/css/pure-min.css"> 
  <link rel="stylesheet" href="/css/caesr.css">
    <link rel="stylesheet" href="/css/syntax.css">    
    <link rel="stylesheet" href="/css/csl-blocks.css">    
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>
 
<div class="main">
<!-- <h1> Publications </h1> -->
{{ content }}
 
</div>
<!-- <footer>
  Bottom of da page.
    </footer> -->
 
</body>
</html>
